.banner__imagen{
    background-image: url(/css/img/otros/Medicamentos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;

}
@media screen and (min-width:0) {
    .banner__imagen{
        height: calc(25vh - 51px);
    }
}
@media screen and (min-width:768px) {
    .banner__imagen{
        height: calc(50vh - 72px);
    }
}